body {
    background: #D7D7D7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7D7D7, #F5F5F5, #A6A6A6, #E0E0E0, #B5B5B5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7D7D7, #F5F5F5, #A6A6A6, #E0E0E0, #B5B5B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

